@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8F4E1;
}


.bg-custom-brown {
    background-color: #61481C;
}

.border-custom-brown {
    border-color: #61481C;
}

.text-custom-brown {
    color: #61481C;
}

.hero-bg {
    background-image: url('../images/dog_welcome.JPG'); 
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.nav-address-box {
    margin-left: 1rem;
}

:root {
    --font-sans: ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.bg-form-light {
    background-color: #C0A880;
}

.bg-branding-light {
    background-color: #F7F3E8;
}

.input-placeholder-custom::placeholder {
    color: #4A4A4A; 
}

:root {
    --font-sans: ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}